doctype html
html
    head
        link(href='css/doc.css', media='screen', rel='stylesheet', type='text/css')
        link(href='css/doc-print.css', media='print', rel='stylesheet', type='text/css')
        script(src='js/doc.js')
    body.swagger-section
        #docContainer.swagger-ui-wrap
